.app-header{
    display: flex;
    margin-top: 36px;
    justify-content: space-between;

}
.app-header > p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-block: 8px;
    color: #333333;
}
.app-search{
    width: 40%;
    background: rgba(245, 248, 252, 0.66);
    border: 1.97222px solid rgba(127, 111, 164, 0.1);
    border-radius: 107px;
    display: flex;
    align-items: center;
}
.app-search > input{
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 0px 33px;
    color: #333333;
    height: 100%;
}
.app-body{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app-body table{
    width: 80%;
}
.app-body-header{
    align-items: center;
    padding: 2rem;
    isolation: isolate;
    background: #F5F8FC;
    border: 1px solid rgba(81, 73, 101, 0.1);
    border-radius: 8px 8px 0px 0px;
    border-radius: 6px!important;
}
.app-body-header th{
    padding-block: 1rem!important;
    padding-inline: 1rem;
    text-align: left;
}

.app-titles{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    /* identical to box height, or 193% */
    
    display: flex;
    align-items: center;
    letter-spacing: -0.8px;
    color: #636870;
}
.app-body-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 12px;
    gap: 48px;
    isolation: isolate;
    height: 81px;
    background: #FFFFFF;
    border: 1px solid rgba(81, 73, 101, 0.1);
    border-radius: 8px;
}
.app-body-item{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.item-left{
    display: flex;
    flex-direction: row;
    width: 34%;
    gap: 12px;
}
.item-details{
    display: flex;
    flex-direction: column;
}
.item-details > p{
    margin: 0;
}
.item-name{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.item-email{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
}
.item-center{
    width: 14%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #4F6DA7;
}
.user_listing_row{
    cursor: pointer;
}
.user_listing_row td{
    padding: 1rem;
}

.dp_wrapper_cell{
    padding: 0px!important;
    max-width: 1rem;
    max-height: 1rem;
    border-radius: 6px!important;
    overflow: hidden!important;
}
.dp_wrapper_cell img{
    padding: 0px!important;
    max-width: 3rem;
    max-height: 3rem;
    border-radius: 6px!important;
    margin-left: 1rem;

}